<?xml version="1.0" encoding="UTF-8"?>
<!--https://stackoverflow.com/questions/18995951/how-to-install-and-use-cdi-on-tomcat -->
<!-- https://github.com/weld/core/tree/master/examples/se/hello-world -->
<beans xmlns="http://java.sun.com/xml/ns/javaee"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/beans_1_0.xsd">
       
       <interceptors>
    		<class>com.interceptors.LoggingInterceptor</class>
		</interceptors>
</beans>